/* //////// Start include _section-about //////// */

.section-about {
  background-color: #999;
}

.container {}

.section-about__wrapper {}

.section-about__title {
  font-size: 33px;
  color: rgb(168, 25, 0);
}

.section-about__paragraph {
  font-size: 22px;
}
