<!-- Start include section-about -->

<section class="section-about">
  <div class="container">
    <div class="section-about__wrapper">

      <h2 class="section-about__title">About page </h2>

      <p class="section-about__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Nesciunt, culpa. Magni eligendi illum ea minima veritatis beatae itaque sint totam, harum
        hic cupiditate quo corrupti, dolorum reprehenderit recusandae possimus adipisci.</p>

    </div>
  </div>
</section>
