:root {
  --content-width: 1200px;
  --container-padding: 15px;
  --container-width: calc(var(--content-width) + (var(--container-padding) * 2));

  --root-font: "Damion", cursive;

  --color-primary: #30b893;
  --color-secondary: #04a2e4;
  --color-accent: #fbd315;
  --color-root-font: #ffffff;
  --color-background-plug: #b93b3b;
}
