:root {
  --root-font: "Damion", cursive;

  // colors
  --color-primary: #30b893;
  --color-secondary: #04a2e4;
  --color-accent: #fbd315;
  --color-root-font: #ffffff;
  --color-background-section: #b93b3b;
}
